{% extends 'base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>User Registration</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="{% static 'js/validation.js' %}"></script>

</head>
<body>

 	{% include 'messages.html' %}


	 <div class="container register-container" style="" >
		<div class="card">
			<div class="card-body">
			  <div class="row justify-content-center">
				  <div class="row justify-content-center align-items-center pt-3 mb-2"><h1><strong>User Register here</strong></h1></div>
			  </div>
			  <form action="save_data" method="post">{% csrf_token %}
				<div class="form-group">
				  <label>Enter your E-mail ID</label><br>
				  <input type="email" class="form-control" placeholder="Email-ID" name="email" id="email" autocomplete="off" required="required" autofocus /><br>
				  <span id="emailMsg"></span>
				  <label>Enter your Full Name</label><br>
				  <input type="text" class="form-control" placeholder="Full Name" name="fullname" id="fullname" required="required" ><br>
				  <span id="fnmMsg"></span>
				  <label>Select your gender</label><br>
				  <select class="form-control" name="gender" id="gender" required="required">
					<option value="" selected disabled hidden>Select Here</option>
					<option value="Male">Male</option>
					<option value="Female">Female</option>
					<option value="Other">Other</option>
				  </select><br>
				  <div class="form-group">
					<label for="input">Search your Postcode</label>
					<input class="form-control" type="text" id="input">
					<button id="button" class="btn btn-success mt-3">
					  Lookup Address
					</button>
				  </div>
						  <!-- The context will now only return the address dropdown and notifications -->
						  <div id="lookup_field" class="form-group"></div>
				  <div class="form-group">
					<label for="first_line">Address Line One</label>
					<input type="text" class="form-control" id="first_line" name="first_line" readonly>
				  </div>
				  <div class="form-group">
					<label for="second_line">Address Line Two</label>
					<input type="text" class="form-control" id="second_line" name="second_line" readonly>
				  </div>
				  <div class="form-group">
					<label for="third_line">Address Line Three</label>
					<input type="text" class="form-control" id="third_line" name="third_line" readonly>
				  </div>
				  <div class="form-group">
					<label for="post_town">Post Town</label>
					<input type="text" class="form-control" id="post_town" name="post_town" readonly>
				  </div>
				  <div class="form-group">
					<label for="postcode">Postcode</label>
					<input type="text" class="form-control" id="postcode" name="postcode" readonly>
				  </div>


				<script src="https://cdn.jsdelivr.net/npm/@ideal-postcodes/postcode-lookup-bundled@2"></script>
				<script>
				  IdealPostcodes.PostcodeLookup.setup({
					apiKey: "ak_l2nv8h6m6arVZiyqXaDOYcUTBROIe",
					context: '#lookup_field',
  					button: '#button',
  					input: '#input',
  					selectClass: 'form-control',
					outputFields: {
						line_1: '#first_line',  
						line_2: '#second_line',         
						line_3: '#third_line',
						post_town: '#post_town',
						postcode: '#postcode'
					},
				  });
				</script>
 
				<label>Do you have any Underlying Health Condition?</label><br>
				<input type="radio" name="chk" id="chkYes" value="yes" onclick="ShowHideDiv()"> Yes &nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" name="chk" id="chkNo" value="no" onclick="ShowHideDiv()"> No<br><br>
				<div id="dvtext" style="display: none;">
				<label>Describe your Underlying Health Condition?</label><br>
				<input type="text" class="form-control" placeholder="Enter your Health Detail.." name="txtBox" id="txtBox"/><br>
				</div>		
				<label>Registered As ?</label><br>
				  <select class="form-control" name="whoyouare" id="whoyouare" required="required">
					<option value="" selected disabled hidden>Select Here</option>
					<option value="student">Student</option>
					<option value="teacher">Teacher</option>
				  </select><br>
				<label>Password</label><br>
				<input type="password" class="form-control" name="pwd" id="pwd" placeholder="Password" required><br>
				<span id="passMsg"></span>
				<label>Confirm Password</label><br>
				<input type="password" class="form-control" name="cpwd" id="cpwd" placeholder="Confirm Password" required><br>
				<span id="cpassMsg"></span>
				  <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
				  <hr>
				<button type="submit" class="form-control btn-success" value="Register" style="border-radius: 1rem; cursor: pointer;">Register</button><br/>
				<p>Already Registered?<a href="/userlogin"> Login Here</a></p>
				</div>
			  </form>
			</div>
		  </div>
  
	  </div>

	  
  
	<script type="text/javascript">

	  function ShowHideDiv() {
		  var chkYes = document.getElementById("chkYes");
		  var dvtext = document.getElementById("dvtext");
		  dvtext.style.display = chkYes.checked ? "block" : "none";
	  };


	  setTimeout(function(){
		if($('#msg').length>0)
		{
			$('#msg').remove();
		}
	},5000)
  
	</script>



	<div id="dropDownSelect1"></div>

</body>
</html>

{% endblock %}