{% extends 'teacherbase.html' %}
{% load static %}


{% block content %}

<link href="{% static 'css/classcalendar.css' %}" rel="stylesheet" />
<script src="{% static 'js/classcalendar.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

<style>

    td.fc-day.fc-past {
        background-color: #EEEEEE;
    }

</style>
<script>
    
    
    document.addEventListener('DOMContentLoaded', function() {

        var calendarEl = document.getElementById('classcalendar');
        var today = new Date();

        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next, today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,list'
            },
            initialDate: today,
            navLinks: true,
            selectable: true,
            selectMirror: true,
            slotDuration: '01:00',
            eventColor: '#378006',
            editable: true,
            dayMaxEvents: true,            
            events : {{ class_event | safe }},
            eventConstraint: {

                start: moment().format('YYYY-MM-DD'),
                
            },
            businessHours: {
                start: moment().format('HH:mm'), 
                end: '18:00', 
                dow: [0,1,2,3,4,5,6]
            },
            select: function(start, end, jsEvent, view) {
                var selectedDate = moment(start.start).format('YYYY/MM/DD'); 
                var todayDate = moment().format('YYYY/MM/DD'); 
                if(selectedDate >= todayDate){ 
                        console.log(selectedDate);
                        console.log('clicked')
                        var inp = document.getElementById("title");
                        inp.focus();
                        inp.select();
                } else { 
                    alert('Previous date is not allowed'); 
                } 

            },
            eventClick: function(arg) {
                if (confirm('Go to class list page to View/edit/delete Please...')) {
                    //arg.event.remove()
                }
            },

            eventDrop: function (info) {
                var newDate = new Date(info.event.start);
                if (newDate < Date.now()) {
                    info.revert();
                }
            },

            eventDrop: function(event, delta, revertFunc) {
                if(event.start < currentDate) {
                    revertFunc();
                }
            },
            
            
        });
        

        calendar.render();
    });


    $(document).ready(function () {

        var now = new Date();
        var current = new Date();
        now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
        document.getElementsByName("start_time")[0].min = now.toISOString().slice(0, 16);
        document.getElementsByName("start_time")[0].value = now.toISOString().slice(0, 16);
        current.setTime(now.getTime() + (60 * 1000));
        
        //console.log(current);

    $('#submitbtn').click(function (e) {

        e.preventDefault();

        var title = $('[name="title"]').val();
        var description = $('[name="description"]').val();
        var start_time = $('[name="start_time"]').val();
        var end_time = $('[name="end_time"]').val();
        var attendee = $('[name="attendee"]').val();
        var file = $('[name="class_thumb"]').val();

        console.log(title);
        console.log(description);



        if (title == null || title == "", description == null || description == "", start_time == null || start_time == "", end_time == null || end_time == "") {
            alert("Please Fill All Required Field");
            return false;
          }
          else{

        $.ajax({
            type: "POST",
            url: "/teacher/calendar",
            processData : false,
            contentType : false,
            mimeType : "multipart/form-data",
            data: {'title':title,'description': description, 'start_time' : start_time, 'end_time' : end_time, 'attendee': attendee, 'file':file,'csrfmiddlewaretoken': '{{ csrf_token }}',} ,
            success: function (data) {
                console.log('Data Has been saved')
                if ( data.success == false){
                    $("#error").html("<p class='text-danger'>"+ data.errorMsg + "</p>");
                }
                else if ( data.success == true){
                    alert("woahh!! new Class Created..")
                    $("#error").html("<p class='text-success'> New Yoga Class Created successfully ..</p>");
                    window.location.href = '/teacher/calendar'
                }
            },
            error: function(data) {
                $("#error").html("<p class='text-danger'> Class not created </p>");
            }
        });
        var now = new Date();
        $('[name="title"]').val("");
        $('[name="description"]').val("");
        $('[name="start_time"]').val(now.toISOString().slice(0, 16));
        $('[name="end_time"]').val("");
        $('[name="attendee"]').val("5");
    }
    e.preventDefault();
    
    });

    });

    function getDatetime() {        

        var str = document.getElementById("start_time").value;
        var d = new Date(str);
        console.log('Before:\t', d.toLocaleString());
        // Add 1 hour to datetime
        var newd =new Date (d.setHours(d.getHours() + 2));
        console.log('After:\t', d.toLocaleString());
        document.getElementById("end_time").value = newd.toISOString().slice(0,16);
    }

    setTimeout(function(){
        if($('#msg').length>0)
        {
            $('#msg').remove();
        }
    },2000)
    
</script>
{% include 'messages.html' %}

<div class="container-fluid">
    <div class="row">
        <span id="error"></span>
        <div class="col-6" style="border-right: 1px solid rgb(197, 197, 197) !important;">
            <div class="card">
                <div class="card-body">
                    <div class="mb-2"><h1><strong>Add Classes</strong></h1></div>
                    <form id="frm" enctype="multipart/form-data" method="POST">{% csrf_token %}
                        <div class="modal-body" style="overflow: auto; height : 500px;">
                            <span id="error"></span>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Class Title:</label>
                                <input type="text" id="title" name="title" class="form-control" placeholder="Enter class title" maxlength="200" required="" id="id_title" required>
                                
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Class Description:</label>
                                <textarea name="description" cols="40" rows="10" class="form-control" placeholder="Enter class description" required="" id="id_description" spellcheck="false" required></textarea>
                                
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Start Date and Time:</label>
                                <input type="datetime-local" name="start_time" id="start_time" class="form-control"required>
                                
                            </div>
                             {% comment %} <div class="form-group">
                                <label for="message-text" class="col-form-label">Class time duration: (HH:MM)</label>
                                <input type="time" id="timeduration" name="timeduration" class="form-control" min="30:00" max="01:30" required>
                                
                            </div> {% endcomment %}
                            <input type="button" id="endtime" onclick="getDatetime()" value="Get end time">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">End Date and Time:</label>
                                <input type="datetime-local" name="end_time"  id="end_time" class="form-control" readonly="true" required>
                                
                            </div>
                            
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Expected maximum numbeer of attendees</label>
                                <input type="number" name="attendee" value="5" class="form-control" min="5" max="20" id="id_attendee" required>
                                
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Enter representing class in Image</label>
                                <input type="file" name="class_thumb" class="form-control" id="class_thumb" required>
                                
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-danger" value="Reset" onclick="frm.reset()">
                            <input type="Submit" id="" value="Submit" class="btn btn-success" onSubmit="">
                        </div>
                    </form>
                </div>
            </div>
        </div>
            <div class="col-6" >
                <div id="classcalendar" class="col-12" style="float:right;"></div>
            </div>
                
        </div>
    </div>
</div>


{% endblock content %}



